input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

body {
  background-color: #eee;
  font-family: 'Volkhov', arial; }
  body .demo.pb-pattern {
    background-color: #33cc99;
    padding: 40px 0; }
    body .demo.pb-pattern:after {
      opacity: 0.75;
      background-size: 20px;
      -webkit-transition: background-image 0.1s ease-in-out;
      -moz-transition: background-image 0.1s ease-in-out;
      -ms-transition: background-image 0.1s ease-in-out;
      -o-transition: background-image 0.1s ease-in-out;
      transition: background-image 0.1s ease-in-out; }
    body .demo.pb-pattern.iniziale:after {
      opacity: 0.8;
      background-size: 20px;
      -webkit-transition: background-size 0.1s ease-in-out;
      -moz-transition: background-size 0.1s ease-in-out;
      -ms-transition: background-size 0.1s ease-in-out;
      -o-transition: background-size 0.1s ease-in-out;
      transition: background-size 0.1s ease-in-out; }
    body .demo.pb-pattern.iniziale.over:after {
      background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2722px%27%20height%3D%2722px%27%20viewBox%3D%270%200%2022%2022%27%20enable-background%3D%27new%200%200%2022%2022%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20fill%3D%27#ffffff%27%20d%3D%27M12%2C7H7v5H5V7H0V5h5V0h2v5h5V7z%20M22%2C16h-4v-5h-2v5h-5v2h5v4h2v-4h4V16z%20M16%2C1h2V0h-2V1z%20M0%2C18h1v-2H0V18z%27/%3E%0A%3C/svg%3E");
      background-size: 30px !important;
      opacity: 0.4; }
    body .demo.pb-pattern.buseca-1:after {
      background-size: 30px; }
    body .demo.pb-pattern.h-lines-bold:after {
      background-size: 6px; }
    body .demo.pb-pattern.o-lines-bold:after {
      background-size: 40px; }
    body .demo.pb-pattern.cross-medium-thin:after {
      background-size: 15px; }
    body .demo.pb-pattern.cross-medium:after {
      background-size: 10px; }
    body .demo.pb-pattern.pb-size-10:after {
      background-size: 10px; }
    body .demo.pb-pattern.pb-size-20:after {
      background-size: 20px; }
    body .demo.pb-pattern.pb-size-30:after {
      background-size: 30px; }
    body .demo.pb-pattern.pb-size-40:after {
      background-size: 40px; }
    body .demo.pb-pattern.pb-size-50:after {
      background-size: 50px; }
    body .demo.pb-pattern.pb-size-60:after {
      background-size: 60px; }
    body .demo.pb-pattern.pb-size-70:after {
      background-size: 70px; }
    body .demo.pb-pattern.pb-size-80:after {
      background-size: 80px; }
    body .demo.pb-pattern.pb-size-90:after {
      background-size: 90px; }
    body .demo.pb-pattern.pb-size-100:after {
      background-size: 100px; }
  body h1 {
    font-family: 'Rye', arial;
    font-weight: normal;
    font-size: 100px;
    text-align: center;
    margin-top: 0; }
  body h2 {
    font-size: 28px;
    text-align: center;
    line-height: 42px; }
  body nav {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center; }
    body nav button.pb-pattern {
      display: inline-block;
      padding: 12px 25px;
      font-size: 21px;
      width: auto;
      margin-right: 30px;
      border: none;
      box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.2);
      background-color: lightcoral;
      outline-color: 0px solid transparent !important; }
      body nav button.pb-pattern:after {
        background-size: 6px;
        opacity: 0.3; }
      body nav button.pb-pattern:hover {
        outline-color: 0px solid transparent !important; }
        body nav button.pb-pattern:hover:after {
          -webkit-transition: background-size 0.1s ease-in-out;
          -moz-transition: background-size 0.1s ease-in-out;
          -ms-transition: background-size 0.1s ease-in-out;
          -o-transition: background-size 0.1s ease-in-out;
          transition: background-size 0.1s ease-in-out;
          background-size: 12px;
          box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.25); }
      body nav button.pb-pattern:focus, body nav button.pb-pattern:active {
        outline-color: 0px solid transparent !important; }
      body nav button.pb-pattern.dwnld {
        background-color: lightskyblue; }
      body nav button.pb-pattern a {
        text-decoration: none;
        color: inherit; }
    body nav a {
      color: #222222; }
      body nav a:hover {
        text-decoration: none; }
  body .controls {
    padding: 20px 0;
    background-color: #343434;
    color: #eeeeee; }
    body .controls code {
      font-size: 14px;
      display: block;
      padding: 7px;
      color: #bbbbbb;
      margin: 8px 0;
      -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      background: #202020;
      background-color: rgba(0, 0, 0, 0.3);
      margin-top: 15px; }
  body .tasto {
    width: 17%;
    height: 80px;
    margin: 0 1%;
    display: inline-block;
    background-color: #555555;
    border: 3px solid #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    -moz-border-radius: 8px;
    cursor: pointer; }
    body .tasto:after {
      background-size: 20px;
      border-radius: 8px;
      -moz-border-radius: 8px;
      box-shadow: inset 0 0 8px 3px rgba(0, 0, 0, 0.5); }
    body .tasto:hover {
      background-color: #888; }
    body .tasto.active {
      background-color: lightgrey; }
      body .tasto.active:hover {
        background-color: lightgrey; }
    body .tasto.tasto-1:after {
      background-size: 40px; }
    body .tasto.tasto-2:after {
      background-size: 10px; }
    body .tasto.tasto-3:after {
      background-size: 10px; }
    body .tasto.tasto-4:after {
      background-size: 20px; }
    body .tasto.tasto-5:after {
      background-size: 20px; }
  body #size-pattern {
    width: 100%;
    height: 80px; }
  body #color-pattern {
    width: 100%;
    height: 63px;
    margin: 10px 0; }
  body h2 {
    margin: 0;
    padding: 0px 0 20px 0; }
  body h3 {
    text-align: center;
    margin-top: 0;
    padding-top: 20px; }
  body .sub {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px; }
  body .over-picture {
    padding: 40px 0 60px 0;
    border-bottom: 4px solid #343434; }
    body .over-picture:after {
      background-size: 5px; }
    body .over-picture .pb-pattern {
      text-align: center;
      margin: 0 20px; }
    body .over-picture .over-img.box-img.pb-pattern:after {
      background-size: 6px;
      opacity: 0.2; }
  body #showcase {
    padding: 40px 0;
    background-color: #eee; }
    body #showcase .pb-pattern {
      margin: 8px 0;
      background-color: #33cc99; }
      body #showcase .pb-pattern:after {
        opacity: 0.5; }
      body #showcase .pb-pattern span {
        text-align: center;
        display: block;
        padding: 35px 0;
        font-size: 14px;
        font-style: italic;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
      body #showcase .pb-pattern.buseca-1 {
        background-color: #ff9659; }
        body #showcase .pb-pattern.buseca-1:after {
          background-size: 30px; }
      body #showcase .pb-pattern.o-lines-bold, body #showcase .pb-pattern.o-lines-medium, body #showcase .pb-pattern.o-lines-light {
        background-color: #61d966; }
      body #showcase .pb-pattern.h-lines-bold, body #showcase .pb-pattern.h-lines-medium, body #showcase .pb-pattern.h-lines-light {
        background-color: #44d6da; }
      body #showcase .pb-pattern.cross-bold, body #showcase .pb-pattern.cross-medium, body #showcase .pb-pattern.cross-light {
        background-color: #0083d5; }
      body #showcase .pb-pattern.cross-bold-thin, body #showcase .pb-pattern.cross-medium-thin, body #showcase .pb-pattern.cross-light-thin {
        background-color: #e47b72; }
      body #showcase .pb-pattern.candy-light, body #showcase .pb-pattern.candy-medium, body #showcase .pb-pattern.candy-bold {
        background-color: magenta; }
        body #showcase .pb-pattern.candy-light:after, body #showcase .pb-pattern.candy-medium:after, body #showcase .pb-pattern.candy-bold:after {
          background-size: 100px; }
      body #showcase .pb-pattern.active span {
        padding: 65px 0;
        font-size: 18px;
        font-weight: bold; }

.intro {
  background-color: yellow;
  padding: 40px 0;
  border-bottom: 4px solid #343434; }
  .intro:after {
    opacity: 0.6; }
  .intro:hover:after {
    opacity: 0.6; }
  .intro .inner-intro {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    line-height: 24px; }
    .intro .inner-intro p {
      font-size: 18px;
      line-height: 28px; }
