input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

body {
  font-family: 'Volkhov', arial; }
  body .demo.pb-pattern {
    background-color: #ccc;
    padding: 40px 0; }
    body .demo.pb-pattern:after {
      opacity: 0.75;
      background-size: 20px;
      -webkit-transition: background-image 0.2s ease-in-out;
      -moz-transition: background-image 0.2s ease-in-out;
      -ms-transition: background-image 0.2s ease-in-out;
      -o-transition: background-image 0.2s ease-in-out;
      transition: background-image 0.2s ease-in-out; }
    body .demo.pb-pattern.iniziale:after {
      opacity: 1; }
    body .demo.pb-pattern.iniziale.over:after {
      background-size: 20px !important;
      opacity: 0.6; }
    body .demo.pb-pattern.buseca-1:after {
      background-size: 30px; }
    body .demo.pb-pattern.h-lines-bold:after {
      background-size: 6px; }
    body .demo.pb-pattern.o-lines-bold:after {
      background-size: 40px; }
    body .demo.pb-pattern.cross-medium-thin:after {
      background-size: 15px; }
    body .demo.pb-pattern.cross-medium:after {
      background-size: 10px; }
    body .demo.pb-pattern.pb-size-5:after {
      background-size: 5px; }
    body .demo.pb-pattern.pb-size-10:after {
      background-size: 10px; }
    body .demo.pb-pattern.pb-size-15:after {
      background-size: 15px; }
    body .demo.pb-pattern.pb-size-20:after {
      background-size: 20px; }
    body .demo.pb-pattern.pb-size-25:after {
      background-size: 25px; }
    body .demo.pb-pattern.pb-size-30:after {
      background-size: 30px; }
    body .demo.pb-pattern.pb-size-35:after {
      background-size: 35px; }
    body .demo.pb-pattern.pb-size-40:after {
      background-size: 40px; }
    body .demo.pb-pattern.pb-size-45:after {
      background-size: 45px; }
    body .demo.pb-pattern.pb-size-50:after {
      background-size: 50px; }
  body h1 {
    font-family: 'Rye', arial;
    font-weight: normal;
    font-size: 100px;
    text-align: center;
    margin-top: 0; }
  body h2 {
    font-size: 28px;
    text-align: center;
    line-height: 42px; }
  body nav {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center; }
    body nav button.pb-pattern {
      display: inline-block;
      padding: 12px 25px;
      font-size: 21px;
      width: auto;
      margin-right: 30px;
      border: none;
      box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.2);
      background-color: #DDD;
      outline-color: 0px solid transparent !important; }
      body nav button.pb-pattern:after {
        background-size: 6px; }
      body nav button.pb-pattern:hover {
        outline-color: 0px solid transparent !important; }
        body nav button.pb-pattern:hover:after {
          -webkit-transition: background-image 0.1s ease-in-out;
          -moz-transition: background-image 0.1s ease-in-out;
          -ms-transition: background-image 0.1s ease-in-out;
          -o-transition: background-image 0.1s ease-in-out;
          transition: background-image 0.1s ease-in-out;
          background-size: 12px;
          box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.25); }
      body nav button.pb-pattern:focus, body nav button.pb-pattern:active {
        outline-color: 0px solid transparent !important; }
      body nav button.pb-pattern a {
        text-decoration: none;
        color: inherit; }
    body nav a {
      color: #0183ff; }
      body nav a:hover {
        text-decoration: none; }
  body .controls {
    padding: 20px 0;
    background-color: #343434;
    color: #eeeeee; }
    body .controls code {
      font-size: 14px;
      display: block;
      padding: 7px;
      color: #bbbbbb;
      margin: 8px 0;
      -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      background: #202020;
      background-color: rgba(0, 0, 0, 0.3);
      margin-top: 15px; }
  body .tasto {
    width: 17%;
    height: 80px;
    margin: 0 1%;
    display: inline-block;
    background-color: #555555;
    border: 3px solid #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    -moz-border-radius: 8px;
    cursor: pointer; }
    body .tasto:after {
      background-size: 20px;
      border-radius: 8px;
      -moz-border-radius: 8px;
      box-shadow: inset 0 0 8px 3px rgba(0, 0, 0, 0.5); }
    body .tasto:hover {
      background-color: #888; }
    body .tasto.active {
      background-color: lightgrey; }
      body .tasto.active:hover {
        background-color: lightgrey; }
    body .tasto.tasto-1:after {
      background-size: 40px; }
    body .tasto.tasto-2:after {
      background-size: 10px; }
    body .tasto.tasto-3:after {
      background-size: 10px; }
    body .tasto.tasto-4:after {
      background-size: 20px; }
    body .tasto.tasto-5:after {
      background-size: 20px; }
  body #size-pattern {
    width: 100%;
    height: 80px; }
  body #color-pattern {
    width: 100%;
    height: 63px;
    margin: 10px 0; }

.intro .inner-intro {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  line-height: 24px; }

.pb-pattern {
  min-height: 36px;
  min-width: 20px;
  background-color: black; }

.showcase.over-picture .pb-pattern {
  margin: 0 auto 2px auto;
  width: 75%;
  height: 360px;
  margin-bottom: 25px; }

.title {
  height: auto;
  padding: 25px;
  background-color: lightgreen;
  font-size: 50px;
  text-align: center; }
  .title:after {
    background-size: 10px !important; }

.intro {
  background-color: #fff000;
  padding: 25px;
  height: auto; }

.github {
  height: auto;
  padding: 50px;
  background-color: magenta; }

.github-go {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #aaffff;
  border: none;
  height: auto;
  width: auto;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.3); }
  .github-go a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black; }

h3 {
  text-align: center; }

.pb-pattern,
.pb-pattern:after,
.pb-pattern:before {
  box-sizing: border-box; }

.pb-pattern {
  position: relative;
  z-index: 1; }

.pb-pattern:after, .pb-pattern:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  content: '';
  z-index: -1; }
.pb-pattern.soft:after {
  opacity: 0.25; }

.buseca-1:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%27150px%27%20height%3D%27150px%27%20viewBox%3D%270%200%20150%20150%27%20enable-background%3D%27new%200%200%20150%20150%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20fill%3D%27white%27%20d%3D%27M0%2C0h150v150H0V0z%20M150%2C119.953v-14.965l-7.488%2C7.488L150%2C119.953z%20M30%2C30L52.512%2C7.477L45.023%2C0H30.047%0A%20%20%20%20l7.465%2C7.477L30%2C15L15%2C0H0.012L30%2C30z%20M120.047%2C0L150%2C29.953V15L135%2C0H120.047z%20M75%2C0L0%2C75v14.988L89.988%2C0H75z%20M7.512%2C37.477%0A%20%20%20%20L0%2C44.988V60l22.512-22.523L0%2C14.988v14.988L7.512%2C37.477z%20M89.988%2C150l7.523-7.523L75%2C120l-15%2C15l-7.5-7.512l0.012-0.012l15-15%0A%20%20%20%20l-15-14.977L60%2C90l60.023%2C60H135L60%2C75L37.512%2C97.5l15%2C14.977l-7.5%2C7.5l-7.512-7.488l0.012-0.012L30%2C105l-7.5%2C7.453l0.012%2C0.023%0A%20%20%20%20l-7.5%2C7.512l-7.5-7.488l-6.574%2C6.562L105.012%2C15l7.5%2C7.512l-15%2C14.988l14.965%2C15.012L105%2C60L90%2C45l-7.488%2C7.477l-15%2C15L150%2C149.953%0A%20%20%20%20v-14.965L82.512%2C67.477l7.5-7.488L105%2C75l14.977-14.977L120%2C60.059l0.047-0.035l7.465%2C7.453L119.988%2C75l-7.477%2C7.477L120%2C90%0A%20%20%20%20l0.012-0.012L135%2C105l15-15V75l-15%2C15l-7.512-7.5l15.023-15.023l-14.965-14.953L135%2C45.117l15%2C15.117V45.023l-15-14.906L120%2C45%0A%20%20%20%20l-7.488-7.523l15-15L105%2C0L0%2C104.988V120l7.488%2C7.5L15%2C135l15.012-15.012l7.488%2C7.5l-14.988%2C14.988L30%2C150l0.012-0.012L30.023%2C150%0A%20%20%20%20H45l-7.512-7.488l7.5-7.512L60%2C150l15-15l7.512%2C7.477L75%2C150H89.988z%20M0%2C135v15h15.023L0%2C135z%27/%3E%0A%3C/svg%3E"); }

.h-lines-bold:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2710px%27%20height%3D%2710px%27%20viewBox%3D%270%200%2010%2010%27%20enable-background%3D%27new%200%200%2010%2010%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Crect%20fill%3D%27white%27%20width%3D%2710%27%20height%3D%275%27/%3E%0A%3C/svg%3E"); }

.h-lines-medium:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2710px%27%20height%3D%2710px%27%20viewBox%3D%270%200%2010%2010%27%20enable-background%3D%27new%200%200%2010%2010%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Crect%20fill%3D%27white%27%20width%3D%2710%27%20height%3D%273%27/%3E%0A%3C/svg%3E"); }

.h-lines-light:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2710px%27%20height%3D%2710px%27%20viewBox%3D%270%200%2010%2010%27%20enable-background%3D%27new%200%200%2010%2010%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Crect%20fill%3D%27white%27%20width%3D%2710%27%20height%3D%271%27/%3E%0A%3C/svg%3E"); }

.o-lines-bold:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20fill%3D%27white%27%20width%3D%2712px%27%20height%3D%2712px%27%20viewBox%3D%270%200%2012%2012%27%20enable-background%3D%27new%200%200%2012%2012%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20d%3D%27M12%2C3.535V0H8.465L0%2C8.465V12h3.535L12%2C3.535z%20M0%2C0h3.535L0%2C3.535V0z%20M8.465%2C12L12%2C8.465V12H8.465z%27/%3E%0A%3C/svg%3E"); }

.o-lines-medium:after, .intro:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20fill%3D%27white%27%20width%3D%2712px%27%20height%3D%2712px%27%20viewBox%3D%270%200%2012%2012%27%20enable-background%3D%27new%200%200%2012%2012%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20d%3D%27M12%2C2.121V0H9.879L0%2C9.879V12h2.121L12%2C2.121z%20M9.879%2C12L12%2C9.879V12H9.879z%20M0%2C2.121V0h2.121L0%2C2.121z%27/%3E%0A%3C/svg%3E"); }

.o-lines-light:after, .github-go:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20fill%3D%27white%27%20width%3D%2712px%27%20height%3D%2712px%27%20viewBox%3D%276.375%206.375%2012%2012%27%20enable-background%3D%27new%206.375%206.375%2012%2012%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20d%3D%27M7.082%2C18.375H6.375v-0.707L17.668%2C6.375h0.707v0.707L7.082%2C18.375z%20M18.375%2C18.375v-0.707l-0.707%2C0.707H18.375z%0A%20%20%20%20%20M7.082%2C6.375H6.375v0.707L7.082%2C6.375z%27/%3E%0A%3C/svg%3E"); }

.cross-bold:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2722px%27%20height%3D%2722px%27%20viewBox%3D%270%200%2022%2022%27%20enable-background%3D%27new%200%200%2022%2022%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20fill%3D%27white%27%20d%3D%27M12%2C9H9v3H3V9H0V3h3V0h6v3h3V9z%20M22%2C14h-2v-3h-6v3h-3v6h3v2h6v-2h2V14z%20M14%2C1h6V0h-6V1z%20M0%2C20h1v-6H0V20z%27/%3E%0A%3C/svg%3E"); }

.cross-medium:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2722px%27%20height%3D%2722px%27%20viewBox%3D%270%200%2022%2022%27%20enable-background%3D%27new%200%200%2022%2022%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20fill%3D%27white%27%20d%3D%27M12%2C8H8v4H4V8H0V4h4V0h4v4h4V8z%20M22%2C15h-3v-4h-4v4h-4v4h4v3h4v-3h3V15z%20M15%2C1h4V0h-4V1z%20M0%2C19h1v-4H0V19z%27/%3E%0A%3C/svg%3E"); }

.cross-light:after, body .demo.pb-pattern.iniziale.over:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2722px%27%20height%3D%2722px%27%20viewBox%3D%270%200%2022%2022%27%20enable-background%3D%27new%200%200%2022%2022%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20fill%3D%27white%27%20d%3D%27M12%2C7H7v5H5V7H0V5h5V0h2v5h5V7z%20M22%2C16h-4v-5h-2v5h-5v2h5v4h2v-4h4V16z%20M16%2C1h2V0h-2V1z%20M0%2C18h1v-2H0V18z%27/%3E%0A%3C/svg%3E"); }

.cross-bold-thin:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2736px%27%20height%3D%2736px%27%20viewBox%3D%27-7%20-7%2036%2036%27%20enable-background%3D%27new%20-7%20-7%2036%2036%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20fill%3D%27white%27%20d%3D%27M5%2C2H2v3h-6V2h-3v-6h3v-3h6v3h3V2z%20M23%2C20h-3v3h-6v-3h-3v-6h3v-3h6v3h3V20z%27/%3E%0A%3C/svg%3E"); }

.cross-medium-thin:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2736px%27%20height%3D%2736px%27%20viewBox%3D%27-7%20-7%2036%2036%27%20enable-background%3D%27new%20-7%20-7%2036%2036%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20fill%3D%27white%27%20d%3D%27M5%2C1H1v4h-4V1h-4v-4h4v-4h4v4h4V1z%20M23%2C19h-4v4h-4v-4h-4v-4h4v-4h4v4h4V19z%27/%3E%0A%3C/svg%3E"); }

.cross-light-thin:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%20%20%20%20%20width%3D%2736px%27%20height%3D%2736px%27%20viewBox%3D%27-7%20-7%2036%2036%27%20enable-background%3D%27new%20-7%20-7%2036%2036%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cpath%20fill%3D%27white%27%20d%3D%27M5%2C0H0v5h-2V0h-5v-2h5v-5h2v5h5V0z%20M23%2C18h-5v5h-2v-5h-5v-2h5v-5h2v5h5V18z%27/%3E%0A%3C/svg%3E"); }
