@charset 'UTF-8';

// colors

$color-pattern: rgba(255,255,255,1);
$color-back: black;


// picture example
$picture: url('http://lorempixel.com/1400/400/x?x=');

// demo page style
.pb-pattern {height: 400px; width: 100%; margin-bottom: 2px; background-color: $color-back}
.wrapper {background-color: #dddddd; height: 200px;}
.inner-wrapper {padding: 25px; height: 100%;}








// background variables: the svg patterns.

//_____ FACTORIO.US PATTERN
$buseca-1: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='150px' height='150px' viewBox='0 0 150 150' enable-background='new 0 0 150 150' xml:space='preserve'>
<path fill='"+ $color-pattern +"' d='M0,0h150v150H0V0z M150,119.953v-14.965l-7.488,7.488L150,119.953z M30,30L52.512,7.477L45.023,0H30.047
    l7.465,7.477L30,15L15,0H0.012L30,30z M120.047,0L150,29.953V15L135,0H120.047z M75,0L0,75v14.988L89.988,0H75z M7.512,37.477
    L0,44.988V60l22.512-22.523L0,14.988v14.988L7.512,37.477z M89.988,150l7.523-7.523L75,120l-15,15l-7.5-7.512l0.012-0.012l15-15
    l-15-14.977L60,90l60.023,60H135L60,75L37.512,97.5l15,14.977l-7.5,7.5l-7.512-7.488l0.012-0.012L30,105l-7.5,7.453l0.012,0.023
    l-7.5,7.512l-7.5-7.488l-6.574,6.562L105.012,15l7.5,7.512l-15,14.988l14.965,15.012L105,60L90,45l-7.488,7.477l-15,15L150,149.953
    v-14.965L82.512,67.477l7.5-7.488L105,75l14.977-14.977L120,60.059l0.047-0.035l7.465,7.453L119.988,75l-7.477,7.477L120,90
    l0.012-0.012L135,105l15-15V75l-15,15l-7.512-7.5l15.023-15.023l-14.965-14.953L135,45.117l15,15.117V45.023l-15-14.906L120,45
    l-7.488-7.523l15-15L105,0L0,104.988V120l7.488,7.5L15,135l15.012-15.012l7.488,7.5l-14.988,14.988L30,150l0.012-0.012L30.023,150
    H45l-7.512-7.488l7.5-7.512L60,150l15-15l7.512,7.477L75,150H89.988z M0,135v15h15.023L0,135z'/>
</svg>");


// ____LINES PATTERN
$h-lines-bold: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='10px' height='10px' viewBox='0 0 10 10' enable-background='new 0 0 10 10' xml:space='preserve'>
<rect fill='"+ $color-pattern +"' width='10' height='5'/>
</svg>");

$h-lines-medium: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='10px' height='10px' viewBox='0 0 10 10' enable-background='new 0 0 10 10' xml:space='preserve'>
<rect fill='"+ $color-pattern +"' width='10' height='3'/>
</svg>");

$h-lines-light: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='10px' height='10px' viewBox='0 0 10 10' enable-background='new 0 0 10 10' xml:space='preserve'>
<rect fill='"+ $color-pattern +"' width='10' height='1'/>
</svg>");

$o-lines-bold: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     fill='"+ $color-pattern +"' width='12px' height='12px' viewBox='0 0 12 12' enable-background='new 0 0 12 12' xml:space='preserve'>
<path d='M12,3.535V0H8.465L0,8.465V12h3.535L12,3.535z M0,0h3.535L0,3.535V0z M8.465,12L12,8.465V12H8.465z'/>
</svg>");

$o-lines-medium: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     fill='"+ $color-pattern +"' width='12px' height='12px' viewBox='0 0 12 12' enable-background='new 0 0 12 12' xml:space='preserve'>
<path d='M12,2.121V0H9.879L0,9.879V12h2.121L12,2.121z M9.879,12L12,9.879V12H9.879z M0,2.121V0h2.121L0,2.121z'/>
</svg>");

$o-lines-light: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     fill='"+ $color-pattern +"' width='12px' height='12px' viewBox='6.375 6.375 12 12' enable-background='new 6.375 6.375 12 12' xml:space='preserve'>
<path d='M7.082,18.375H6.375v-0.707L17.668,6.375h0.707v0.707L7.082,18.375z M18.375,18.375v-0.707l-0.707,0.707H18.375z
     M7.082,6.375H6.375v0.707L7.082,6.375z'/>
</svg>");


// _____CROSS PATTERN

$cross-bold: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='22px' height='22px' viewBox='0 0 22 22' enable-background='new 0 0 22 22' xml:space='preserve'>
<path fill='"+ $color-pattern +"' d='M12,9H9v3H3V9H0V3h3V0h6v3h3V9z M22,14h-2v-3h-6v3h-3v6h3v2h6v-2h2V14z M14,1h6V0h-6V1z M0,20h1v-6H0V20z'/>
</svg>");

$cross-medium: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='22px' height='22px' viewBox='0 0 22 22' enable-background='new 0 0 22 22' xml:space='preserve'>
<path fill='"+ $color-pattern +"' d='M12,8H8v4H4V8H0V4h4V0h4v4h4V8z M22,15h-3v-4h-4v4h-4v4h4v3h4v-3h3V15z M15,1h4V0h-4V1z M0,19h1v-4H0V19z'/>
</svg>");

$cross-light: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='22px' height='22px' viewBox='0 0 22 22' enable-background='new 0 0 22 22' xml:space='preserve'>
<path fill='"+ $color-pattern +"' d='M12,7H7v5H5V7H0V5h5V0h2v5h5V7z M22,16h-4v-5h-2v5h-5v2h5v4h2v-4h4V16z M16,1h2V0h-2V1z M0,18h1v-2H0V18z'/>
</svg>");

$cross-bold-thin: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='36px' height='36px' viewBox='-7 -7 36 36' enable-background='new -7 -7 36 36' xml:space='preserve'>
<path fill='"+ $color-pattern +"' d='M5,2H2v3h-6V2h-3v-6h3v-3h6v3h3V2z M23,20h-3v3h-6v-3h-3v-6h3v-3h6v3h3V20z'/>
</svg>");

$cross-medium-thin: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='36px' height='36px' viewBox='-7 -7 36 36' enable-background='new -7 -7 36 36' xml:space='preserve'>
<path fill='"+ $color-pattern +"' d='M5,1H1v4h-4V1h-4v-4h4v-4h4v4h4V1z M23,19h-4v4h-4v-4h-4v-4h4v-4h4v4h4V19z'/>
</svg>");

$cross-light-thin: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     width='36px' height='36px' viewBox='-7 -7 36 36' enable-background='new -7 -7 36 36' xml:space='preserve'>
<path fill='"+ $color-pattern +"' d='M5,0H0v5h-2V0h-5v-2h5v-5h2v5h5V0z M23,18h-5v5h-2v-5h-5v-2h5v-5h2v5h5V18z'/>
</svg>");

// basic style

.pb-pattern {
    position: relative;
}

.pb-inner-pattern {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.pb-pattern {
	&:after,
    &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    content:'';
	}

    &.with-gradient-and-picture {
        &:before {
            // background-color: orange;
            // background-position: center center;
            // background-repeat: no-repeat;
            // background: -webkit-gradient(radial, center center, 0, center center, 460, from(orange), to(#2F2727));
            // background: -webkit-radial-gradient(circle, orange, #2F2727);
            // background: -moz-radial-gradient(circle, orange, #2F2727);
            // background: -ms-radial-gradient(circle, orange, #2F2727);
            // opacity: 0.5;
        }
        &:after {
            // opacity: 0.3
        }
    }
    &.with-gradient {
        &:before {
            // background-color: crismon;
            // background-position: center center;
            // background-repeat: no-repeat;
            // background: -webkit-gradient(radial, center center, 0, center center, 460, from(crimson), to(#ededed));
            // background: -webkit-radial-gradient(circle, crimson, #ededed);
            // background: -moz-radial-gradient(circle, crimson, #ededed);
            // background: -ms-radial-gradient(circle, crimson, #ededed);
        }
    }

    &.buseca-1 {
        &:after {
            background-image: $buseca-1;
            background-size: 30px;
        }
    }
    &.h-lines-bold {
        &:after {
            background-image: $h-lines-bold;
            background-size: 10px;
        }
    }
    &.h-lines-medium {
        &:after {
            background-image: $h-lines-medium;
            background-size: 10px;
        }
    }
    &.h-lines-light {
        &:after {
            background-image: $h-lines-light;
            background-size: 10px;
        }
    }
    &.o-lines-bold {
        &:before{
            background-image: $o-lines-bold;
            background-size: 12px;
        }
    }
    &.o-lines-medium {
        &:after {
            background-image: $o-lines-medium;
            background-size: 12px;
        }
    }
    &.o-lines-light {
        &:after {
            background-image: $o-lines-light;
            background-size: 12px;
        }
    }

    &.cross-bold {
        &:after {
            background-image: $cross-bold;
            background-size: 11px;
        }
    }
    &.cross-medium {
        &:after {
            background-image: $cross-medium;
            background-size: 11px;
        }
    }
    &.cross-light {
        &:after {
            background-image: $cross-light;
            background-size: 11px;
        }
    }
    &.cross-bold-thin {
        &:after {
            background-image: $cross-bold-thin;
            background-size: 18px;
        }
    }
    &.cross-medium-thin {
        &:after {
            background-image: $cross-medium-thin;
            background-size: 18px;
        }
    }
    &.cross-light-thin {
        &:after {
            background-image: $cross-light-thin;
            background-size: 18px;
        }
    }

}






























