@charset 'UTF-8';
@import '../PatternBolt/scss/patternbolt.scss';

header {
    height: 100px;
    background: crimson;
    border-bottom: 10px solid white;
    h1 {
        color: white;
        margin: 0;
    }
}

.selecta {
    height: calc( 100vh - 100px );
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: shrink;
    .item.reduce {
        width:0;
        height: 0;
    }
}   

// style generali degli item
.item {
    height: 250px;
    width: 250px;
    margin: 0 5px 10px 5px;
    transition: width .3s, height .3s;
    &.expand {
        position: fixed;
        width: 100%;
        height: calc( 100vh - 100px );
        margin: 0px;
        &:after {
            animation: changecolor 20s infinite;
        }
    }
    &.reduce {
        margin: 0px;
    }
    &:after {
        transition: background-color .5s, background-size .2s linear;
    }

    &:nth-child(1) {
        @include pb('buseca-1', 50px, crimson, #fff, 1, 'none');
    }
    &:nth-child(2) {
        @include pb('o-lines-bold', 50px, crimson, #fff, 1, 'none');
    }
    &:nth-child(3) {
        @include pb('h-lines-bold', 5px, crimson, #fff, 1, 'none');
    }
    &:nth-child(4) {
        @include pb('feather', 80px, crimson, #fff, 1, 'none');
    }
    &:nth-child(5) {
        @include pb('o-lines-bold', 50px, crimson, #fff, 1, 'none');
    }
    &:nth-child(6) {
        @include pb('o-lines-medium', 5px, crimson, #fff, 1, 'none');
    }
    &:nth-child(7) {
        @include pb('o-lines-bold', 50px, crimson, #fff, 1, 'none');
    }
    &:nth-child(8) {
        @include pb('h-lines-medium', 5px, crimson, #fff, 1, 'none');
    }
}
    
// style degli hover per gli item quando in modalità showcase
.showing-all {
    .item {
        &:nth-child(1) {
            &:hover {
                @include pb('buseca-1', 100px, #333, #ccc, 1, 'none');
            }
        }
        &:nth-child(2) {
            &:hover {
                @include pb('o-lines-bold', 100px, #333, #ccc, 1, 'none');
            }
        }
        &:nth-child(3) {
            &:hover {
                @include pb('h-lines-bold', 10px, #333, #ccc, 1, 'none');
            }
        }
        &:nth-child(4) {
            &:hover {
                @include pb('feather', 110px, #333, #ccc, 1, 'none');
            }
        }
        &:nth-child(5) {
            &:hover {
                @include pb('o-lines-bold', 100px, #333, #ccc, 1, 'none');
            }
        }
        &:nth-child(6) {
            &:hover {
                @include pb('o-lines-medium', 10px, #333, #ccc, 1, 'none');
            }
        }
        &:nth-child(7) {
            &:hover {
                @include pb('o-lines-bold', 100px, #333, #ccc, 1, 'none');
            }
        }
        &:nth-child(8) {
            &:hover {
                @include pb('h-lines-medium', 10px, #333, #ccc, 1, 'none');
            }
        }
    }
}




@keyframes changecolor{
    from {
        background-color: black;
    }
    10% {
        background-color: purple;
    }
    20% {
        background-color: navy;
    }
    30% {
        background-color: brown;
    }
    40% {
        background-color: tomato;
    }
    50% {
        background-color: coral;
    }
    60% {
        background-color: darkgreen;
    }
    70% {
        background-color: darkviolet;
    }
    80% {
        background-color: green;
    }
    90% {
        background-color: grey;
    }
    to {
        background-color: black;
    }
}



























